adafruit-blinka==9.2.0
    # via
    #   timemachine (setup.py)
    #   adafruit-circuitpython-busdevice
    #   adafruit-circuitpython-connectionmanager
    #   adafruit-circuitpython-requests
    #   adafruit-circuitpython-rgb-display
    #   adafruit-circuitpython-typing
adafruit-circuitpython-busdevice==5.2.17
    # via
    #   adafruit-circuitpython-rgb-display
    #   adafruit-circuitpython-typing
adafruit-circuitpython-connectionmanager==3.1.8
    # via adafruit-circuitpython-requests
adafruit-circuitpython-requests==4.1.17
    # via adafruit-circuitpython-typing
adafruit-circuitpython-rgb-display==3.14.6
    # via timemachine (setup.py)
adafruit-circuitpython-typing==1.12.3
    # via
    #   adafruit-blinka
    #   adafruit-circuitpython-busdevice
adafruit-platformdetect==3.89.1
    # via adafruit-blinka
adafruit-pureio==1.1.12
    # via adafruit-blinka
aiofiles==25.1.0
    # via timemachine (setup.py)
aiohappyeyeballs==2.7.1
    # via aiohttp
aiohttp==3.14.4
    # via timemachine (setup.py)
aiosignal==1.4.0
    # via aiohttp
annotated-doc==0.0.5
    # via typer
attrs==26.1.0
    # via aiohttp
binho-host-adapter==0.1.6
    # via adafruit-blinka
certifi==2026.7.22
    # via requests
cfgv==3.5.0
    # via pre-commit
charset-normalizer==3.5.2
    # via requests
cheroot==11.1.2
    # via cherrypy
cherrypy==18.10.0
    # via timemachine (setup.py)
colorzero==2.0
    # via gpiozero
distlib==0.4.3
    # via virtualenv
filelock==4.0.12
    # via
    #   python-discovery
    #   virtualenv
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
gpiozero==2.0.1.post3
    # via timemachine (setup.py)
identify==2.6.20
    # via pre-commit
idna==3.20
    # via
    #   requests
    #   yarl
jaraco-collections==5.2.1
    # via
    #   cherrypy
    #   tempora
jaraco-context==6.1.2
    # via
    #   jaraco-text
    #   tempora
jaraco-functools==4.6.0
    # via
    #   cheroot
    #   jaraco-text
    #   tempora
jaraco-text==4.3.0
    # via jaraco-collections
lgpio==0.2.2.0
    # via rpi-lgpio
markdown-it-py==4.2.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
more-itertools==11.1.0
    # via
    #   cheroot
    #   cherrypy
    #   jaraco-functools
    #   jaraco-text
multidict==6.9.1
    # via
    #   aiohttp
    #   yarl
nodeenv==1.11.0
    # via pre-commit
packaging==26.3
    # via
    #   virtualenv
    #   wheel
pexpect==4.9.0
    # via timemachine (setup.py)
pillow==12.3.0
    # via timemachine (setup.py)
platformdirs==4.12.4
    # via virtualenv
plexapi==4.18.3
    # via timemachine (setup.py)
portend==3.2.1
    # via cherrypy
pre-commit==4.6.2
    # via timemachine (setup.py)
propcache==0.5.4
    # via
    #   aiohttp
    #   yarl
psutil==7.2.2
    # via timemachine (setup.py)
ptyprocess==0.7.0
    # via pexpect
pulsectl==24.12.0
    # via timemachine (setup.py)
pyftdi==0.57.2
    # via adafruit-blinka
pygments==2.21.0
    # via rich
pyserial==3.5
    # via
    #   binho-host-adapter
    #   pyftdi
python-dateutil==2.9.0.post0
    # via tempora
python-discovery==1.6.1
    # via virtualenv
python-mpv==1.0.8
    # via timemachine (setup.py)
pyusb==1.3.1
    # via pyftdi
pyyaml==6.0.3
    # via pre-commit
requests==2.34.2
    # via
    #   timemachine (setup.py)
    #   plexapi
rich==15.0.0
    # via typer
rpi-lgpio==0.6
    # via timemachine (setup.py)
setuptools==84.0.0
    # via
    #   colorzero
    #   zc-lockfile
shellingham==1.5.4
    # via typer
six==1.17.0
    # via python-dateutil
sysv-ipc==1.2.0
    # via adafruit-blinka
tempora==5.13.0
    # via portend
tenacity==9.2.1
    # via timemachine (setup.py)
typer==0.27.3
    # via typer-slim
typer-slim==0.24.0
    # via jaraco-text
typing-extensions==4.16.0
    # via
    #   adafruit-circuitpython-typing
    #   tempora
urllib3==2.8.0
    # via requests
virtualenv==21.14.6
    # via pre-commit
wheel==0.48.0
    # via timemachine (setup.py)
yarl==1.25.1
    # via aiohttp
zc-lockfile==4.0
    # via cherrypy
